# CMake
build/
CMakeFiles
Makefile

# Executables directory
bin/

# IDE specific files (optional, depending on your preferences)
.vscode/
.idea/
*.iml
*.ipr
*.iws
CMakeUserPresets.json
CMakeWorkspaceSettings.json

# Operating system specific files
.DS_Store
Thumbs.db
